= render partial: 'shop_admin/shared/profile_navigation'

.row
  .col-md-8
    .content-block.shops
      .row
        .col-md-12
          .pull-left
            h3
              a href= shop_admin_shops_path
                span= "Магазины"
                '
                span.badge= current_user.shops.count
          .pull-right
            = link_to "Добавить магазин", new_shop_admin_shop_path, :class => 'btn btn-success'
      .row
        .col-md-12
          = render partial: 'shop_admin/shared/shops', locals: { shops: current_user.shops.limit(3), editable: false }

    .content-block.stores
      .row
        .col-md-12
          .pull-left
            h3
              a href= shop_admin_stores_path
                span= "Склады"
                '
                span.badge = current_user.stores.count
          .pull-right
            = link_to "Добавить склад", new_shop_admin_store_path, :class => 'btn btn-success'
      .row
        .col-md-12
          = render partial: 'shop_admin/shared/stores', locals: { stores: current_user.stores.limit(3), editable: false }

  - if current_user.notifications.count > 0
    .col-md-4
      .content-block.notifications
        .row
          .col-md-12
            h3 
              a href="#"
                span= "Уведомления"
                '
                span.badge= current_user.notifications.count
        .row
          .col-md-12
            - current_user.notifications.limit(20).each do |notification|
              .notification
                a= notification.subject
                p= notification.message

