= simple_form_for [:courier_admin, @courier], :html => { :class => "form-horizontal" } do |f|
  = f.input :courier_service_id,:collection => current_courier_user.courier_services,:label_method => :title, :value_method => :id, :include_blank => false
  = error_span(@courier[:courier_service_id])
  = f.input :name
  = error_span(@courier[:name])
  = f.input :status_id
  = error_span(@courier[:status_id])
  = f.input :passport
  = error_span(@courier[:passport])
  = f.input :transport_type
  = error_span(@courier[:transport_type])
  = f.input :phone
  = error_span(@courier[:phone])
  = f.input :payments
  = error_span(@courier[:payments])
  = f.input :string
  = error_span(@courier[:string])
  = f.input :orders_type
  = error_span(@courier[:orders_type])
  = f.button :submit, :class => 'btn-primary'

  = link_to t('.cancel', :default => t("helpers.links.cancel")), courier_admin_couriers_path, :class => 'btn btn-default'
