- model_class = Courier
div class="page-header"
  h1=t '.title', :default => model_class.model_name.human.pluralize.titleize
table class="table table-striped"
  thead
    tr
      th= model_class.human_attribute_name(:id)
      th= model_class.human_attribute_name(:name)
      th= model_class.human_attribute_name(:status_id)

      th=t '.actions', :default => t("helpers.actions")
  tbody
    - @couriers.each do |courier|
      tr
        td= link_to courier.id, courier_admin_courier_path(courier)
        td= courier.name
        td= courier.status_id
        td
          = link_to t('.edit', :default => t("helpers.links.edit")), edit_courier_admin_courier_path(courier), :class => 'btn btn-default btn-xs'
          '
          = link_to t('.destroy', :default => t("helpers.links.destroy")), courier_admin_courier_path(courier), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-xs btn-danger'

= link_to t('.new', :default => t("helpers.links.new")), new_courier_admin_courier_path, :class => 'btn btn-primary'

