- model_class = Courier
div class="page-header"
  h1=t '.title', :default => model_class.model_name.human.titleize
  
p
  strong= model_class.human_attribute_name(:name) + ':'
  br
  = @courier.name
p
  strong= model_class.human_attribute_name(:status_id) + ':'
  br
  = @courier.status_id
p
  strong= model_class.human_attribute_name(:passport) + ':'
  br
  = @courier.passport
p
  strong= model_class.human_attribute_name(:transport_type) + ':'
  br
  = @courier.transport_type
p
  strong= model_class.human_attribute_name(:phone) + ':'
  br
  = @courier.phone
p
  strong= model_class.human_attribute_name(:payments) + ':'
  br
  = @courier.payments
p
  strong= model_class.human_attribute_name(:string) + ':'
  br
  = @courier.string
p
  strong= model_class.human_attribute_name(:orders_type) + ':'
  br
  = @courier.orders_type

= link_to t('.back', :default => t("helpers.links.back")), courier_admin_couriers_path, :class => 'btn btn-default'
'
= link_to t('.edit', :default => t("helpers.links.edit")), edit_courier_admin_courier_path(@courier), :class => 'btn btn-default'
'
= link_to t('.destroy', :default => t("helpers.links.destroy")), courier_admin_courier_path(@courier), :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger'
