= render partial: 'shop_admin/shared/settings_navigation'

.container
  .content-block
    - model_class = Order
    .page-header
      h1 = "Найстройки аккаунта"
    = simple_form_for(@user, url: shop_admin_account_settings_path) do |f|
      = f.error_notification
      .form-inputs
        = f.input :email, required: true, autofocus: true
        = f.input :password, autocomplete: "off", hint: "оставьте пустым, если не хотите менять", required: false
        = f.input :password_confirmation, required: false
        = f.input :current_password, hint: "текущий пароль нужен для подтверждения изменений", required: true
      .form-actions
        = f.button :submit, "Сохранить", class: "btn btn-primary"
