= simple_form_for [:shop_admin, @store], :html => { :class => "form-horizontal" } do |f|
  = f.input :shop_id,:collection => current_user.shops,:label_method => :title, :value_method => :id, :include_blank => false
  = error_span(@store[:shop_id])
  = f.input :title
  = error_span(@store[:title])
  = f.input :contact_name
  = error_span(@store[:contact_name])
  = f.input :postal_code
  = error_span(@store[:postal_code])
  = f.input :city
  = error_span(@store[:city])
  = f.input :street
  = error_span(@store[:street])
  = f.input :house
  = error_span(@store[:house])
  = f.input :building
  = error_span(@store[:building])
  = f.input :housing
  = error_span(@store[:housing])
  = f.input :room
  = error_span(@store[:room])
  = f.input :porch
  = error_span(@store[:porch])
  = f.input :floor
  = error_span(@store[:floor])
  = f.input :phone
  = error_span(@store[:phone])
  = f.input :description
  = error_span(@store[:description])

  = f.button :submit, :class => 'btn-primary'

  = link_to t('.cancel', :default => t("helpers.links.cancel")), shop_admin_stores_path, :class => 'btn btn-default'
