= render partial: 'shop_admin/shared/profile_navigation'
.container
  .content-block
    - model_class = Store
    div class="page-header"
      h1=t '.title', :default => model_class.model_name.human.titleize

    p
      strong= model_class.human_attribute_name(:title) + ':'
      br
      = @store.title
    p
      strong= model_class.human_attribute_name(:contact_name) + ':'
      br
      = @store.contact_name
    p
      strong= model_class.human_attribute_name(:postal_code) + ':'
      br
      = @store.postal_code
    p
      strong= model_class.human_attribute_name(:city) + ':'
      br
      = @store.city
    p
      strong= model_class.human_attribute_name(:street) + ':'
      br
      = @store.street
    p
      strong= model_class.human_attribute_name(:house) + ':'
      br
      = @store.house
    p
      strong= model_class.human_attribute_name(:building) + ':'
      br
      = @store.building
    p
      strong= model_class.human_attribute_name(:housing) + ':'
      br
      = @store.housing
    p
      strong= model_class.human_attribute_name(:room) + ':'
      br
      = @store.room
    p
      strong= model_class.human_attribute_name(:porch) + ':'
      br
      = @store.porch
    p
      strong= model_class.human_attribute_name(:floor) + ':'
      br
      = @store.floor
    p
      strong= model_class.human_attribute_name(:phone) + ':'
      br
      = @store.phone
    p
      strong= model_class.human_attribute_name(:description) + ':'
      br
      = @store.description

    = link_to t('.back', :default => t("helpers.links.back")), shop_admin_stores_path, :class => 'btn btn-default'
    '
    = link_to t('.edit', :default => t("helpers.links.edit")), edit_shop_admin_store_path(@store), :class => 'btn btn-default'
    '
    = link_to t('.destroy', :default => t("helpers.links.destroy")), shop_admin_store_path(@store), :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger'
