.container
  .content-block
    div class="page-header"
      h1= 'Войти'

    = simple_form_for resource, as: resource_name, url: session_path(resource_name), html: { class: "form-horizontal" } do |f|

      = f.input :email, required: false, autofocus: true
      = error_span(resource[:email])

      = f.input :password, required: false
      = error_span(resource[:password])

      = f.input :remember_me, as: :boolean if devise_mapping.rememberable?
      = error_span(resource[:remember_me])

      = f.button :submit, :class => 'btn btn-primary'

    = render "shop_admin/shared/links"
