= simple_form_for [:shop_admin, @legal_entity], :url =>  shop_admin_legal_entity_path, :method => :put, :html => { :class => "form-horizontal" } do |f|
  = f.input :title
  = error_span(@legal_entity[:title])
  = f.input :legal_address
  = error_span(@legal_entity[:legal_address])
  = f.input :physical_address
  = error_span(@legal_entity[:physical_address])
  = f.input :ogrn
  = error_span(@legal_entity[:ogrn])
  = f.input :inn
  = error_span(@legal_entity[:inn])
  = f.input :kpp
  = error_span(@legal_entity[:kpp])
  = f.input :okved
  = error_span(@legal_entity[:okved])
  = f.input :okpo
  = error_span(@legal_entity[:okpo])
  = f.input :bik
  = error_span(@legal_entity[:bik])
  = f.input :bank_name
  = error_span(@legal_entity[:bank_name])
  = f.input :correspondent_account
  = error_span(@legal_entity[:correspondent_account])
  = f.input :checking_account
  = error_span(@legal_entity[:checking_account])
  = f.input :general_manager
  = error_span(@legal_entity[:general_manager])
  = f.input :general_accountant
  = error_span(@legal_entity[:general_accountant])
  = f.input :contact_phone
  = error_span(@legal_entity[:contact_phone])
  = f.input :contact_email
  = error_span(@legal_entity[:contact_email])
  = f.input :contract_number
  = error_span(@legal_entity[:contract_number])
  = f.button :submit, :class => 'btn btn-primary', :value => 'Сохранить'