= simple_form_for [:courier_admin, @order], :html => { :class => "form-horizontal" } do |f|

  = f.input :store_address
  = error_span(@order[:store_address])
  = f.input :courier_id
  = error_span(@order[:courier_id])
  = f.input :courier_order_id
  = error_span(@order[:courier_order_id])
  = f.input :status_id
  = error_span(@order[:status_id])
  = f.input :client_name
  = error_span(@order[:client_name])
  = f.input :client_phone
  = error_span(@order[:client_phone])
  = f.input :client_second_phone
  = error_span(@order[:client_second_phone])
  = f.input :client_email
  = error_span(@order[:client_email])
  = f.input :address
  = error_span(@order[:address])
  = f.input :floor
  = error_span(@order[:floor])
  = f.input :intercom_code
  = error_span(@order[:intercom_code])
  = f.input :goods_estimated_value
  = error_span(@order[:goods_estimated_value])
  = f.input :goods_value
  = error_span(@order[:goods_value])
  = f.input :delivery_value
  = error_span(@order[:delivery_value])
  = f.input :payment_type
  = error_span(@order[:payment_type])
  = f.input :comments
  = error_span(@order[:comments])
  = f.button :submit, :class => 'btn-primary'
  '
  = link_to t('.cancel', :default => t("helpers.links.cancel")), courier_admin_orders_path, :class => 'btn btn-default'
