h1 Listing order_items

table class="table table-striped"
  thead
    tr
      th Shop good
      th Weight
      th Width
      th Height
      th Thickness
      th Price
      th Count

  tbody
    - order.order_items.each do |order_item|
      tr
        td = order_item.shop_good_id
        td = order_item.weight
        td = order_item.width
        td = order_item.height
        td = order_item.thickness
        td = order_item.price
        td = order_item.count
