- model_class = Order
div class="page-header"
  h1=t '.title', :default => model_class.model_name.human.pluralize.titleize
table class="table table-striped"
  thead
    tr
      th= model_class.human_attribute_name(:id)
      th= model_class.human_attribute_name(:shop_title)
      th= model_class.human_attribute_name(:store_address)
      th= model_class.human_attribute_name(:courier_id)
      th= model_class.human_attribute_name(:courier_order_id)
      th= model_class.human_attribute_name(:status_id)
      th= model_class.human_attribute_name(:client_name)
      th= model_class.human_attribute_name(:client_phone)
      th= model_class.human_attribute_name(:address)
      th= model_class.human_attribute_name(:goods_value)
      th= model_class.human_attribute_name(:delivery_value)
      th= model_class.human_attribute_name(:payment_type)
      th= model_class.human_attribute_name(:created_at)
      th=t '.actions', :default => t("helpers.actions")
  tbody
    - @orders.each do |order|
      tr
        td= link_to order.id, courier_admin_order_path(order)
        td= order.shop_title
        td= order.store_address
        td= order.courier_id
        td= order.courier_order_id
        td= order.status_id
        td= order.client_name
        td= order.client_phone
        td= order.address
        td= order.goods_value
        td= order.delivery_value
        td= order.payment_type
        td=l order.created_at
        td
          = link_to t('.edit', :default => t("helpers.links.edit")), edit_courier_admin_order_path(order), :class => 'btn btn-default btn-xs'
          '
          = link_to t('.destroy', :default => t("helpers.links.destroy")), courier_admin_order_path(order), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-xs btn-danger'

= link_to t('.new', :default => t("helpers.links.new")), new_courier_admin_order_path, :class => 'btn btn-primary'

