- model_class = Order
div class="page-header"
  h1=t '.title', :default => model_class.model_name.human.titleize

p
  strong= model_class.human_attribute_name(:shop_user_id) + ':'
  br
  = @order.shop_user_id
p
  strong= model_class.human_attribute_name(:shop_id) + ':'
  br
  = @order.shop_id
p
  strong= model_class.human_attribute_name(:shop_order_id) + ':'
  br
  = @order.shop_order_id
p
  strong= model_class.human_attribute_name(:shop_title) + ':'
  br
  = @order.shop_title
p
  strong= model_class.human_attribute_name(:store_id) + ':'
  br
  = @order.store_id
p
  strong= model_class.human_attribute_name(:store_address) + ':'
  br
  = @order.store_address
p
  strong= model_class.human_attribute_name(:courier_user_id) + ':'
  br
  = @order.courier_user_id
p
  strong= model_class.human_attribute_name(:courier_id) + ':'
  br
  = @order.courier_id
p
  strong= model_class.human_attribute_name(:courier_order_id) + ':'
  br
  = @order.courier_order_id
p
  strong= model_class.human_attribute_name(:status_id) + ':'
  br
  = @order.status_id
p
  strong= model_class.human_attribute_name(:client_name) + ':'
  br
  = @order.client_name
p
  strong= model_class.human_attribute_name(:client_phone) + ':'
  br
  = @order.client_phone
p
  strong= model_class.human_attribute_name(:client_second_phone) + ':'
  br
  = @order.client_second_phone
p
  strong= model_class.human_attribute_name(:client_email) + ':'
  br
  = @order.client_email
p
  strong= model_class.human_attribute_name(:address) + ':'
  br
  = @order.address
p
  strong= model_class.human_attribute_name(:floor) + ':'
  br
  = @order.floor
p
  strong= model_class.human_attribute_name(:intercom_code) + ':'
  br
  = @order.intercom_code
p
  strong= model_class.human_attribute_name(:goods_value) + ':'
  br
  = @order.goods_value
p
  strong= model_class.human_attribute_name(:delivery_value) + ':'
  br
  = @order.delivery_value
p
  strong= model_class.human_attribute_name(:payment_type) + ':'
  br
  = @order.payment_type
p
  strong= model_class.human_attribute_name(:comments) + ':'
  br
  = @order.comments

- if @order.status_id < 3
  = link_to t('order.cancel'), cancel_courier_admin_order_path(@order), :class => 'btn btn-default'

- if @order.status_id == 3
  = link_to t('order.courier'), courier_shop_admin_order_path(@order), :class => 'btn btn-default'

= link_to t('.back', :default => t("helpers.links.back")), courier_admin_orders_path, :class => 'btn btn-default'
'
= link_to t('.edit', :default => t("helpers.links.edit")), edit_courier_admin_order_path(@order), :class => 'btn btn-default'
'
= link_to t('.destroy', :default => t("helpers.links.destroy")), courier_admin_order_path(@order), :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger'

= render partial: 'order_items', locals: { order: @order }