= simple_form_for [:shop_admin, @shop], :html => { :class => "form-horizontal" } do |f|
  = f.input :title
  = error_span(@shop[:title])
  = f.input :contact_name
  = error_span(@shop[:contact_name])
  = f.input :address
  = error_span(@shop[:address])
  = f.input :phone
  = error_span(@shop[:phone])
  = f.input :email
  = error_span(@shop[:email])
  
  = f.button :submit, :class => 'btn btn-primary'
  '
  = link_to t('.cancel', :default => t("helpers.links.cancel")), shop_admin_shops_path, :class => 'btn btn-default'
