div class="page-header"
  = link_to 'Добавить', new_shop_admin_shop_shop_delivery_value_path(shop), :class => 'pull-right btn btn-success'
  h1= "Правила компенсации доставки"
table class="table table-striped"
  thead
    tr
      th= "При сумме меньше"
      th= "При сумме больше"
      th= "При сумме равной"
      th= "Размер компенсации"
      th= "Действует с"
      th
  tbody
    - shop_delivery_values.each do |shop_delivery_value|
      tr
        td= shop_delivery_value.less_than
        td= shop_delivery_value.greater_than
        td= shop_delivery_value.equal_to
        td= shop_delivery_value.delivery_value
        td= shop_delivery_value.created_at
        td
          = link_to 'Редактировать', edit_shop_admin_shop_shop_delivery_value_path(shop, shop_delivery_value), :class => 'btn btn-default btn-xs'
          '
          = link_to 'Удалить', shop_admin_shop_shop_delivery_value_path(shop, shop_delivery_value), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-xs btn-danger'
