div class="page-header"
  = link_to 'Добавить', new_shop_admin_store_path, :class => 'pull-right btn btn-success'
  h1= "Склады"

= render partial: 'shop_admin/shared/stores', locals: { stores: stores, editable: true }    



