= render partial: 'shop_admin/shared/profile_navigation'
.container
  .content-block
    - model_class = Shop
    div class="page-header"
      h1=t '.title', :default => [:'helpers.titles.edit', 'Edit %{model}'], :model => model_class.model_name.human.titleize
    = render :partial => "form"
