= render partial: 'shop_admin/shared/profile_navigation'
.content-block-wide
  div class="page-header"
    = link_to 'Добавить', new_shop_admin_shop_path, :class => 'pull-right btn btn-success'
    h1= 'Магазины'

  = render partial: 'shop_admin/shared/shops', locals: { shops: @shops, editable: true }



