= render partial: 'shop_admin/shared/profile_navigation'
.container
  .content-block
    - model_class = Shop
    div class="page-header"
      h1=t '.title', :default => model_class.model_name.human.titleize

    p
      strong= model_class.human_attribute_name(:title) + ':'
      br
      = @shop.title
    p
      strong= model_class.human_attribute_name(:contact_name) + ':'
      br
      = @shop.contact_name
    p
      strong= model_class.human_attribute_name(:address) + ':'
      br
      = @shop.address
    p
      strong= model_class.human_attribute_name(:phone) + ':'
      br
      = @shop.phone
    p
      strong= model_class.human_attribute_name(:email) + ':'
      br
      = @shop.email

    = link_to 'Назад', shop_admin_shops_path, :class => 'btn btn-default'
    '
    = link_to 'Редактировать', edit_shop_admin_shop_path(@shop), :class => 'btn btn-default'
    '
    = link_to 'Удалить', shop_admin_shop_path(@shop), :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger'

  .content-block
    = render :partial => 'shop_delivery_values',
      :locals => { :shop => @shop,
          :shop_delivery_values => @shop.shop_delivery_values }

  .content-block
    = render :partial => "stores",
      :locals => { :shop => @shop,
          :stores => @shop.stores }