
.container
  .content-block
    .page-header
      h1
        span= "Уведомления"
        '
        span.badge= current_user.notifications.count
      - if @notifications.count == 0
        p = "Нет уведомлений" 
      - else
        - @notifications.each do |notification|
          div data-notification-id= notification.id class="notification status_#{notification.status}"
            h4
              span = notification.subject
              '
              span = link_to 'Удалить', shop_admin_notification_path(notification), :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-sm btn-danger'
            p = notification.message