= simple_form_for [:courier_admin, @courier_service], :html => { :class => "form-horizontal" } do |f|
  = f.input :title
  = error_span(@courier_service[:title])
  = f.input :contact_name
  = error_span(@courier_service[:contact_name])
  = f.input :address
  = error_span(@courier_service[:address])
  = f.input :store_address
  = error_span(@courier_service[:store_address])
  = f.input :store_contact_name
  = error_span(@courier_service[:store_contact_name])
  = f.input :phone
  = error_span(@courier_service[:phone])
  = f.input :store_phone
  = error_span(@courier_service[:store_phone])
  = f.input :email
  = error_span(@courier_service[:email])
  = f.input :legal_entity_id,:collection => current_courier_user.legal_entities,:label_method => :title, :value_method => :id, :include_blank => false
  = error_span(@courier_service[:legal_entity_id])

  = f.button :submit, :class => 'btn-primary'
  = link_to t('.cancel', :default => t("helpers.links.cancel")), courier_admin_courier_services_path, :class => 'btn btn-default'
