- model_class = CourierService
div class="page-header"
  h1=t '.title', :default => model_class.model_name.human.pluralize.titleize
table class="table table-striped"
  thead
    tr
      th= model_class.human_attribute_name(:id)
      th= model_class.human_attribute_name(:title)
      th= model_class.human_attribute_name(:address)
      th= model_class.human_attribute_name(:store_address)

      th=t '.actions', :default => t("helpers.actions")
  tbody
    - @courier_services.each do |courier_service|
      tr
        td= link_to courier_service.id, courier_admin_courier_service_path(courier_service)
        td= courier_service.title
        td= courier_service.address
        td= courier_service.store_address
        td
          = link_to t('.edit', :default => t("helpers.links.edit")), edit_courier_admin_courier_service_path(courier_service), :class => 'btn btn-default btn-xs'
          '
          = link_to t('.destroy', :default => t("helpers.links.destroy")), courier_admin_courier_service_path(courier_service), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-xs btn-danger'

= link_to t('.new', :default => t("helpers.links.new")), new_courier_admin_courier_service_path, :class => 'btn btn-primary'

