- model_class = CourierService
div class="page-header"
  h1=t '.title', :default => model_class.model_name.human.titleize
p
  strong= model_class.human_attribute_name(:title) + ':'
  br
  = @courier_service.title
p
  strong= model_class.human_attribute_name(:contact_name) + ':'
  br
  = @courier_service.contact_name
p
  strong= model_class.human_attribute_name(:address) + ':'
  br
  = @courier_service.address
p
  strong= model_class.human_attribute_name(:store_address) + ':'
  br
  = @courier_service.store_address
p
  strong= model_class.human_attribute_name(:store_contact_name) + ':'
  br
  = @courier_service.store_contact_name
p
  strong= model_class.human_attribute_name(:phone) + ':'
  br
  = @courier_service.phone
p
  strong= model_class.human_attribute_name(:store_phone) + ':'
  br
  = @courier_service.store_phone
p
  strong= model_class.human_attribute_name(:email) + ':'
  br
  = @courier_service.email

= link_to t('.back', :default => t("helpers.links.back")), courier_admin_courier_services_path, :class => 'btn btn-default'
'
= link_to t('.edit', :default => t("helpers.links.edit")), edit_courier_admin_courier_service_path(@courier_service), :class => 'btn btn-default'
'
= link_to t('.destroy', :default => t("helpers.links.destroy")), courier_admin_courier_service_path(@courier_service), :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger'
