= content_for :navigation do
  .navbar.navbar-default.navbar-static-top.profile-navigation
      .container-fluid
        button.navbar-toggle type="button" data-toggle="collapse" data-target=".navbar-responsive-collapse"
          span.icon-bar
          span.icon-bar
          span.icon-bar
        .navbar-collapse.collapse.navbar-responsive-collapse
          ul.nav.navbar-nav.pull-left
            = active_link_to "Общая информация", shop_admin_profile_path, wrap_tag: :li, active: :exclusive
            = active_link_to "Реквизиты", edit_shop_admin_legal_entity_path, wrap_tag: :li

            li class=active_link_to_class(shop_admin_shops_path)
              a href=shop_admin_shops_path
                span= "Магазины"
                '
                span.badge= current_user.shops.count

            li class=active_link_to_class(shop_admin_stores_path)
              a href=shop_admin_stores_path
                span= "Склады"
                '
                span.badge= current_user.shops.count

            = active_link_to "Дополнительно", '#', wrap_tag: :li