= content_for :navigation do
  .navbar.navbar-default.navbar-static-top.profile-navigation
      .container-fluid
        button.navbar-toggle type="button" data-toggle="collapse" data-target=".navbar-responsive-collapse"
          span.icon-bar
          span.icon-bar
          span.icon-bar
        .navbar-collapse.collapse.navbar-responsive-collapse
          ul.nav.navbar-nav.pull-left
            = active_link_to "Аккаунт", shop_admin_account_settings_path, wrap_tag: :li, active: :exclusive

            = active_link_to "Магазин", '#', wrap_tag: :li

            = active_link_to "Виджет", '#', wrap_tag: :li