table class="table table-striped"
  thead
    tr
      th= "Название"
      th= "Контактное лицо"
      th= "Адрес"
      th= "Номер ответственного лица"
      th= "E-mail ответственного лица"
      - if editable
        th
  tbody
    - shops.each do |shop|
      tr data-shop-id=shop.id
        td= link_to shop.title, shop_admin_shop_path(shop)
        td= shop.contact_name
        td= shop.address
        td= shop.phone
        td= shop.email
        - if editable
          td
            = link_to 'Редактировать', edit_shop_admin_shop_path(shop), :class => 'btn btn-default btn-xs'
            '
            = link_to 'Удалить', shop_admin_shop_path(shop), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-xs btn-danger'
