table class="table table-striped"
  thead
    tr
      th= "Название"
      th= "Контактное лицо"
      th= "Адрес"
      th= "Номер телефона"
      - if editable
        th
  tbody
    - stores.each do |store|
      tr data-store-id=store.id
        td= link_to store.title, shop_admin_store_path(store)
        td= store.contact_name
        td= store.address
        td= store.phone
        - if editable
          td
            = link_to 'Редактировать', edit_shop_admin_store_path(store), :class => 'btn btn-default btn-xs'
            '
            = link_to 'Удалить', shop_admin_store_path(store), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-xs btn-danger'
