= simple_form_for [:shop_admin, @order, @order_item], :html => { :class => "form-horizontal" } do |f|
  = f.input :shop_good_id
  = error_span(@order_item[:shop_good_id])

  = f.input :size
  = error_span(@order_item[:size])

  = f.input :price
  = error_span(@order_item[:price])

  = f.input :estimated_price
  = error_span(@order_item[:estimated_price])

  = f.input :count
  = error_span(@order_item[:count])

  = f.button :submit, :class => 'btn btn-primary'
  '
  = link_to t('.cancel', :default => t("helpers.links.cancel")), shop_admin_order_path(@order), :class => 'btn btn-default'
