h1 Index#index

form#goparcel_order_form action="#"
  input type="hidden" name="order[payment_type]" value="card"
  input type="hidden" name="order[shop_user_id]" value="10"
  input type="hidden" name="order[shop_id]" value="11"
  input type="hidden" name="order[store_id]" value="12"
  input type="hidden" name="order[shop_order_id]" value="123"
  input type="hidden" name="order[goods_title]" value="1234"
  input type="hidden" name="order[goods_count]" value="12345"
  input type="hidden" name="order[goods_weight]" value="123456"
  input type="hidden" name="order[goods_value]" value="1234567"
  .field
    input type="text" placeholder="Ваше имя" name="order[client_name]"
  .field
    input type="text" placeholder="Ваш e-mail"  name="order[client_email]"
  .field
    input type="text" placeholder="Ваш номер телефона"  name="order[client_phone]"
  .field
    input type="text" placeholder="Доп. номер телефона"  name="order[client_phone]"
  .field
    input type="text" placeholder="Адрес доставки" name="order[address]"
  .field
    input type="text" placeholder="Этаж"  name="order[floor]"
  .field
    input type="text" placeholder="Код домофона"  name="order[intercom_code]"
  .field
    textarea name="order[comments]" rows="3"
  .field
    input.btn.btn-large.btn-success type="submit" value="Отправить"