- model_class = LegalEntity
div class="page-header"
  h1=t '.title', :default => model_class.model_name.human.pluralize.titleize
table class="table table-striped"
  thead
    tr
      th= model_class.human_attribute_name(:id)
      th= model_class.human_attribute_name(:title)
      th= model_class.human_attribute_name(:legal_address)
      th= model_class.human_attribute_name(:physical_address)
      th= model_class.human_attribute_name(:ogrn)
      th= model_class.human_attribute_name(:inn)
      th= model_class.human_attribute_name(:contract_number)
      th=t '.actions', :default => t("helpers.actions")
  tbody
    - @legal_entities.each do |legal_entity|
      tr
        td= link_to legal_entity.id, courier_admin_legal_entity_path(legal_entity)
        td= legal_entity.title
        td= legal_entity.legal_address
        td= legal_entity.physical_address
        td= legal_entity.ogrn
        td= legal_entity.inn
        td= legal_entity.contract_number

        td
          = link_to t('.edit', :default => t("helpers.links.edit")), edit_courier_admin_legal_entity_path(legal_entity), :class => 'btn btn-default btn-xs'
          '
          = link_to t('.destroy', :default => t("helpers.links.destroy")), courier_admin_legal_entity_path(legal_entity), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-xs btn-danger'

= link_to t('.new', :default => t("helpers.links.new")), new_courier_admin_legal_entity_path, :class => 'btn btn-primary'

