- model_class = LegalEntity
div class="page-header"
  h1=t '.title', :default => model_class.model_name.human.titleize
p
  strong= model_class.human_attribute_name(:title) + ':'
  br
  = @legal_entity.title
p
  strong= model_class.human_attribute_name(:legal_address) + ':'
  br
  = @legal_entity.legal_address
p
  strong= model_class.human_attribute_name(:physical_address) + ':'
  br
  = @legal_entity.physical_address
p
  strong= model_class.human_attribute_name(:ogrn) + ':'
  br
  = @legal_entity.ogrn
p
  strong= model_class.human_attribute_name(:inn) + ':'
  br
  = @legal_entity.inn
p
  strong= model_class.human_attribute_name(:kpp) + ':'
  br
  = @legal_entity.kpp
p
  strong= model_class.human_attribute_name(:okved) + ':'
  br
  = @legal_entity.okved
p
  strong= model_class.human_attribute_name(:okpo) + ':'
  br
  = @legal_entity.okpo
p
  strong= model_class.human_attribute_name(:bik) + ':'
  br
  = @legal_entity.bik
p
  strong= model_class.human_attribute_name(:bank_name) + ':'
  br
  = @legal_entity.bank_name
p
  strong= model_class.human_attribute_name(:correspondent_account) + ':'
  br
  = @legal_entity.correspondent_account
p
  strong= model_class.human_attribute_name(:checking_account) + ':'
  br
  = @legal_entity.checking_account
p
  strong= model_class.human_attribute_name(:general_manager) + ':'
  br
  = @legal_entity.general_manager
p
  strong= model_class.human_attribute_name(:general_accountant) + ':'
  br
  = @legal_entity.general_accountant
p
  strong= model_class.human_attribute_name(:contact_phone) + ':'
  br
  = @legal_entity.contact_phone
p
  strong= model_class.human_attribute_name(:contact_email) + ':'
  br
  = @legal_entity.contact_email
p
  strong= model_class.human_attribute_name(:contract_number) + ':'
  br
  = @legal_entity.contract_number

= link_to t('.back', :default => t("helpers.links.back")), courier_admin_legal_entities_path, :class => 'btn btn-default'
'
= link_to t('.edit', :default => t("helpers.links.edit")), edit_courier_admin_legal_entity_path(@legal_entity), :class => 'btn btn-default'
'
= link_to t('.destroy', :default => t("helpers.links.destroy")), courier_admin_legal_entity_path(@legal_entity), :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger'
