p Приложение № ___ к Агентскому договору №___ от &laquo;__&raquo; _______ 2014 г.
p &nbsp;
p
  strong ОТЧЕТ АГЕНТА
p
  strong О ПРИЕМЕ ДЕНЕЖНЫХ СРЕДСТВ И ДОСТАВКЕ ЗАКАЗА КЛИЕНТУ
p г. Москва &laquo;___&raquo;_________2014 г.
p &nbsp;
p
  strong> &laquo;Наименование организации&raquo;
  | , именуемое в дальнейшем &laquo;Принципал&raquo;, в лице &laquo;
  strong> Генеральный директор&raquo;
  | , действующего на основании
  = succeed "," do
    strong &laquo;Полномочия&raquo;
  | с одной стороны, и
  = succeed "," do
    strong &laquo;Наименование организации&raquo;
  | именуемое в дальнейшем &laquo;Агент&raquo;, в лице &laquo;
  strong> Генеральный директор&raquo;
  | , действующего на основании
  = succeed "," do
    strong &laquo;Полномочия&raquo;
  | с другой стороны, вместе именуемые &laquo;Стороны&raquo;, настоящим Отчетом удостоверяют, что в соответствии с условиями Агентского договора № ___ от &laquo;___&raquo; _______ 2014 г. в период с &laquo;__&raquo; по &laquo;__&raquo;____________ 20____г. были приняты от Клиента денежные средства за доставленные Заказы:
p &nbsp;
table cellpadding="0" cellspacing="0" style="width:971px" 
  tbody
    tr
      td
        p
          | №
          strong п/п
      td
        p
          strong Заказ №
      td
        p
          strong Дата
        p
          strong доставки Заказа Получателю
      td colspan="2" 
        p
          strong Оценочная стоимость
        p
          strong Заказа, руб.
      td colspan="2" 
        p
          strong Получено
        p
          strong от Клиента за Заказ, руб.
      td colspan="2" 
        p
          strong Вознаграждение Агента за прием денежных средств, руб.
      td colspan="2" 
        p
          strong Вознаграждение Агента за возврат Заказа Принципалу, руб.
      td colspan="2" 
        p
          strong Вознаграждение Агента за доставку Заказа, руб.
    tr
      td
        p 1
      td
        p ХХХХХ
      td
        p 00.00.00
      td colspan="2" 
        p 00,00
      td colspan="2" 
        p 00,00
      td colspan="2" 
        p 00,00
      td colspan="2" 
        p 00,00
      td colspan="2" 
        p 00,00
    tr
      td
        p 2
      td
        p &nbsp;
      td
        p &nbsp;
      td colspan="2" 
        p &nbsp;
      td colspan="2" 
        p &nbsp;
      td colspan="2" 
        p &nbsp;
      td colspan="2" 
        p &nbsp;
      td colspan="2" 
        p &nbsp;
    tr
      td
        p 3
      td
        p &nbsp;
      td
        p &nbsp;
      td colspan="2" 
        p &nbsp;
      td colspan="2" 
        p &nbsp;
      td colspan="2" 
        p &nbsp;
      td colspan="2" 
        p &nbsp;
      td colspan="2" 
        p &nbsp;
    tr
      td colspan="4" 
        p
          strong Итого:
      td colspan="2" 
        p 00,00
      td colspan="2" 
        p 00,00
      td colspan="2" 
        p 00,00
      td colspan="2" 
        p 00,00
      td
        p 00,00
p &nbsp;
p &nbsp;
p &nbsp;
p Общая сумма вознаграждения по данному отчету _______00,00____ рублей (прописью)
p НДС не облагается (УСН). Счет-фактура не выставляется (ст. 346.11 п.2 НК РФ).
p Общее количество обработанных Заказов ___00__ (прописью)
p Услуги по доставке Заказов оказаны в полном объеме. Стороны не имеют претензий по выполненным поручениям.
p Настоящий отчет является Актом оказанных услуг и основанием для подписания Акта взаимозачета.
p &nbsp;
p &nbsp;
p
  strong Принципал
  | _________ __________ ____________
  strong Агент
  | ____________ ____________ ______________
p должность подпись ФИО должность подпись ФИО
p &nbsp;
p &nbsp;
