p
  strong Форма №
  strong XX
p &nbsp;
p
  strong А К Т
p &nbsp;
p &nbsp;
p
  strong Место составления:
  em Адрес доставки
p
  strong Дата составления:
  em Дата доставки
p
  strong Заказ №
  em Номер заказа
p &nbsp;
p &nbsp;
table cellpadding="0" cellspacing="0" style="width:604px" 
  tbody
    tr
      td
        p
          strong Наименование товара
      td
        p
          strong Серийный
        p №
      td
        p
          strong Дата покупки
    tr
    tr
      td
        p
          em Наименование товара, указанное на фирменной упаковке
      td
        p
          em Указан на фирменной упаковке.
        p
          em Не заполняется при отсутствии.
      td
        p
          em Дата доставки.
p &nbsp;
p
  | Приобретено г-ном (г-жой)
  em ФИО Клиента
p
  | Контактный телефон:
  em Контактный телефон Клиента в формате 8(9ХХ)ХХХ-ХХ-ХХ
p
  br/
  | \&nbsp;
table cellpadding="0" cellspacing="0" style="width:605px" 
  tbody
    tr
      td
        p
          strong Причина отказа от получения
      td
        p
          strong V
      td colspan="3" 
        p
          strong Примечание
      td
        p &nbsp;
    tr
      td colspan="3" 
        p Отказ Клиента на адресе доставки
      td
        p &nbsp;
      td colspan="2" 
        p &nbsp;
    tr
      td colspan="3" 
        p Выявлен брак товара при передаче Клиенту
      td
        p &nbsp;
      td colspan="2" 
        p &nbsp;
    tr
      td colspan="3" 
        p Отказ &ndash; внешняя упаковка повреждена
      td
        p &nbsp;
      td colspan="2" 
        p &nbsp;
    tr
      td colspan="3" 
        p Отказ &ndash; фирменная упаковка повреждена
      td
        p &nbsp;
      td colspan="2" 
        p &nbsp;
    tr
      td colspan="3" 
        p Ошибка при оформлении заказа (не тот товар и т.п.)
      td
        p &nbsp;
      td colspan="2" 
        p &nbsp;
    tr
      td colspan="3" 
        p Заказанный товар не выдан со склада ИМ
      td
        p &nbsp;
      td colspan="2" 
        p &nbsp;
    tr
      td colspan="3" 
        p Отказ - Курьер не оповещен
      td
        p &nbsp;
      td colspan="2" 
        p &nbsp;
    tr
      td colspan="3" 
        p Отказ - Курьер оповещен
      td
        p &nbsp;
      td colspan="2" 
        p &nbsp;
    tr
      td colspan="3" 
        p У Клиента нет возможности оплатить заказ
      td
        p &nbsp;
      td colspan="2" 
        p &nbsp;
    tr
      td colspan="3" 
        p У Клиента нет документа, удостоверяющего личность
      td
        p &nbsp;
      td colspan="2" 
        p &nbsp;
    tr
      td colspan="3" 
        p Заказ не доставлен по вине исполнителя
      td
        p &nbsp;
      td colspan="2" 
        p &nbsp;
    tr
      td colspan="3" 
        p Клиента не было на адресе доставки
      td
        p &nbsp;
      td colspan="2" 
        p &nbsp;
    tr
      td colspan="3" 
        p Не правильно указаны контактные данные Клиента
      td
        p &nbsp;
      td colspan="2" 
        p &nbsp;
    tr
      td colspan="3" 
        p Товар доставлен ранее (дубль заказа)
      td
        p &nbsp;
      td colspan="2" 
        p &nbsp;
    tr
      td colspan="3" 
        p
          strong Другая причина
      td
        p &nbsp;
      td colspan="2" 
        p &nbsp;
p &nbsp;
p
  strong Причина отказа от получения:
p
  em Обязательно! Клиент собственноручно прописывает причину отказа
p
  em (заполняется клиентом, укажите причину отказа от получения)
p &nbsp;
p
  | Курьер _______________________/
  = succeed "/" do
    em ФИО Курьера
  | Курьерская служба
  em Наименование КС
p (подпись) ( Ф.И.О. )
p &nbsp;
p &nbsp;
p
  | Клиент _________________________/
  = succeed "/" do
    em ФИО Клиента
p (подпись) ( Ф.И.О. )
p &nbsp;
p &nbsp;
