p Приложение № ___
p к Агентскому Договору № ___ от _____
p
  br/
  | \&nbsp;
p
  strong АКТ ПРИЁМА-ПЕРЕДАЧИ ВОЗВРАТА № ___
p
  strong По Агентскому Договору № ___ от _______
p Г.Москва &laquo;__&raquo; _______ 2014 г.
p
  strong> &laquo;Наименование организации&raquo;
  | , именуемое в дальнейшем &laquo;Агент&raquo;, в лице Генерального директора
  = succeed "\u{434}\u{435}\u{439}\u{441}\u{442}\u{432}\u{443}\u{44e}\u{449}\u{435}\u{433}\u{43e}" do
    strong &laquo;Генеральный директор&raquo;,
  | на основании Устава, с одной стороны, и
  = succeed "," do
    strong &laquo;Наименование организации&raquo;
  | именуемое в дальнейшем &laquo;Принципал&raquo;, в лице
  strong &laquo;Руководитель&raquo;
  = succeed "," do
    strong &laquo;Генеральный директор&raquo;
  | действующего на основании
  = succeed "," do
    strong &laquo;Полномочия&raquo;
  | с другой стороны, в дальнейшем именуемые Стороны, настоящим Актом удостоверяют, что в соответствии с условиями Агентского договора № ___ от ________ Агент передал, а Принципал принял не доставленные и неполученные, вследствие отказа клиента Принципала от получения, заказы согласно нижеследующему:
table cellpadding="0" cellspacing="0" style="width:616px" 
  tbody
    tr
      td
        p
          | №
          strong п.
          strong /
          strong п.
      td
        p
          | №
          strong Заказа
      td
        p
          strong Вес Заказа, кг
      td
        p
          strong Оценочная стоимость
        p &nbsp;
      td
        p
          strong Стоимость Заказа
        p &nbsp;
    tr
      td
        p 1
      td
        p ХХХХ
      td
        p 00,00
      td
        p 00,00
      td
        p 00,00
    tr
      td
        p 2
      td
        p ХХХХ
      td
        p 00,00
      td
        p 00,00
      td
        p 00,00
p
  br/
  | \&nbsp;
p Заказы передаются в том виде и состоянии, в котором они были получены от Принципала для или клиента Принципала, в случае если были вскрыты клиентом Принципала при получении. Факт вскрытия упаковки заказа устанавливается в Акте Отказа, который составляется представителем Агента и клиентом Принципала после отказа клиента Принципала от получения, или представителем Агента в одностороннем порядке, если клиент отказался от составления Акта Отказа.
p
  strong Замечания по приёму-передаче заказов:
p (при приёме заполняет представитель Принципала; обязательно наличие записей о состоянии заказов, если таковые имеются; иные замечания)
p ________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________
p &nbsp;
p &nbsp;
table cellpadding="0" cellspacing="0" style="width:616px" 
  tbody
    tr
      td
        p
          strong От Агента
        p
          strong &laquo;Наименование организации&raquo;
        p
          strong &laquo;Должность&raquo;
        p
          strong &laquo;ФИО&raquo; &laquo;Подпись&raquo;
        p &nbsp;
      td
        p
          strong От Принципала
        p
          strong &laquo;Наименование организации&raquo;
        p
          strong &laquo;Должность&raquo;
        p
          strong &laquo;ФИО&raquo; &laquo;Подпись&raquo;
      td
        p &nbsp;
p
  br/
  | \&nbsp;
