p Приложение № ___
p к Агентскому Договору № ___ от _____
p
  br/
  | \&nbsp;
p
  strong АКТ ПРИЁМА-ПЕРЕДАЧИ № ___
p
  strong По Агентскому Договору № ___ от _______
p Г.Москва &laquo;__&raquo; _______ 2014 г.
p
  strong> &laquo;Наименование организации&raquo;
  | , именуемое в дальнейшем &laquo;Агент&raquo;, в лице Генерального директора
  = succeed "\u{434}\u{435}\u{439}\u{441}\u{442}\u{432}\u{443}\u{44e}\u{449}\u{435}\u{433}\u{43e}" do
    strong &laquo;Генеральный директор&raquo;,
  | на основании Устава, с одной стороны, и
  = succeed "," do
    strong &laquo;Наименование организации&raquo;
  | именуемое в дальнейшем &laquo;Принципал&raquo;, в лице
  strong &laquo;Руководитель&raquo;
  = succeed "," do
    strong &laquo;Генеральный директор&raquo;
  | действующего на основании
  = succeed "," do
    strong &laquo;Полномочия&raquo;
  | с другой стороны, в дальнейшем именуемые Стороны, настоящим Актом удостоверяют, что в соответствии с условиями Агентского договора № ___ от ________ Принципал передал, а Агент принял заказы согласно нижеследующему:
table cellpadding="0" cellspacing="0" style="width:616px" 
  tbody
    tr
      td
        p
          | №
          strong п.
          strong /
          strong п.
      td
        p
          | №
          strong Заказа
      td
        p
          strong Вес Заказа, кг
      td
        p
          strong Стоимость Заказа
        p &nbsp;
      td
        p
          strong Оценочная стоимость
        p &nbsp;
    tr
      td
        p 1
      td
        p ХХХХ
      td
        p 00,00
      td
        p 00,00
      td
        p 00,00
    tr
      td
        p 2
      td
        p ХХХХ
      td
        p 00,00
      td
        p 00,00
      td
        p 00,00
p
  br/
  | \&nbsp;
p Передаваемые заказы в ненарушенных индивидуальных упаковках, заклеенные скотчем, бумагой, исключающих доступ третьих лиц, без видимых механических повреждений. Заказы нумерованы уникальными номерами, соответствующими, номерам, указанным в электронной Заявке. Сопроводительные документы переданы в полном объёме.
p
  strong Замечания по приёму-передаче заказов:
p (при приёме заполняет представитель Агента; обязательно наличие записей о состоянии упаковки, если таковые имеются: коробки приняты в не запечатанном виде, упаковка нарушена, есть претензии к упаковке - описать характер повреждения упаковки, иные замечания)
p __________________________________________________________________________________________________________________________________________________________________________
p
  strong Замечания по приёму-передаче сопроводительных документов:
p (при приёме заполняет представитель Агента; обязательно наличие записей о сопроводительных документах, если таковые имеются: комплект сопроводительных документов размещён вместе с товаром внутри индивидуальной упаковки, указать отсутствующие документы, иные замечании)
p __________________________________________________________________________________________________________________________________________________________________________
p &nbsp;
p &nbsp;
table cellpadding="0" cellspacing="0" style="width:616px" 
  tbody
    tr
      td
        p
          strong От Агента
        p
          strong &laquo;Наименование организации&raquo;
        p
          strong &laquo;Должность&raquo;
        p
          strong &laquo;ФИО&raquo; &laquo;Подпись&raquo;
        p &nbsp;
      td
        p
          strong От Принципала
        p
          strong &laquo;Наименование организации&raquo;
        p
          strong &laquo;Должность&raquo;
        p
          strong &laquo;ФИО&raquo; &laquo;Подпись&raquo;
      td
        p &nbsp;
p
  br/
  | \&nbsp;
