.content-block
  = search_form_for [:shop_admin, q] do |f|
    .input
      = f.label :shop_order_id
      ''
      = f.search_field :shop_order_id_eq
    .input
      = f.label :store_id
      '
      = f.select :store_id_eq, current_user.stores.map { |s| [s.title_with_shop, s.id] }, include_blank: true
    .input
      = f.label :status_id
      '
      = f.select :status_id_eq, Order.new.status_options_list, include_blank: true
    .input
      = f.label :created_at_gteq
      '
      = f.date_select :created_at_gteq, include_blank: true, order: [:day, :month, :year]
    .input
      = f.label :created_at_lteq
      '
      = f.date_select :created_at_lteq, include_blank: true, order: [:day, :month, :year]

    = f.submit value: 'Найти'
