= simple_form_for [:shop_admin, @order], :html => { :class => "form-horizontal" } do |f|
  = f.input :store_id, :collection => current_user.stores,:label_method => :title_with_shop, :value_method => :id, :include_blank => false
  = error_span(@order[:store_id])
  = f.input :shop_order_id
  = error_span(@order[:shop_order_id])
  = f.input :customer_name
  = error_span(@order[:customer_name])
  = f.input :customer_phone
  = error_span(@order[:customer_phone])
  = f.input :customer_second_phone
  = error_span(@order[:customer_second_phone])
  = f.input :customer_email
  = error_span(@order[:customer_email])
  = f.input :delivery_address
  = error_span(@order[:delivery_address])
  = f.input :floor
  = error_span(@order[:floor])
  = f.input :intercom_code
  = error_span(@order[:intercom_code])
  = f.input :goods_price
  = error_span(@order[:goods_price])
  = f.input :goods_estimated_price
  = error_span(@order[:goods_estimated_price])
  = f.input :payment_type, :collection => @order.payment_types_options_list, :include_blank => false
  = error_span(@order[:payment_type])
  = f.input :comments
  = error_span(@order[:comments])
  = f.button :submit, :class => 'btn btn-primary'
  '
  = link_to t('.cancel', :default => t("helpers.links.cancel")), shop_admin_orders_path, :class => 'btn btn-default'
