.page-header
  = link_to 'Добавить товар', new_shop_admin_order_order_item_path(order), :class => 'btn btn-success pull-right'
  h1= "Корзина заказа"

table class="table table-striped"
  thead
    tr
      th= "Номер товара в ИМ"
      th= "Размер"
      th= "Стоимость"
      th= "Оценочная стоимость"
      th= "Количество"
      th
      th

  tbody
    - order.order_items.each do |order_item|
      tr data-order-item-id=order_item.id
        td = order_item.shop_good_id
        td = order_item.size
        td = order_item.price
        td = order_item.estimated_price
        td = order_item.count
        td = link_to 'Редактировать', edit_shop_admin_order_order_item_path(order, order_item), :class => 'btn btn-default btn-xs'
        td = link_to 'Удалить', [:shop_admin, order, order_item], data: {:confirm => 'Are you sure?'}, :method => :delete, :class => 'btn btn-xs btn-danger'
