.container
  .content-block
    - model_class = Order
    .page-header
      h1=t '.title', :default => [:'helpers.titles.edit', 'Edit %{model}'], :model => model_class.model_name.human.titleize
    = render :partial => "form"
