.content-block-wide
  div class="page-header"
    = link_to "Добавить", new_shop_admin_order_path, :class => 'btn btn-success pull-right'
    h1="Заказы"

  = render :partial => "filters_form", locals: { q: @q }

  table class="table table-striped"
    thead
      tr
        th= "Номер заказа в GP"
        th= "Название магазина"
        th= "Статус"
        th= "Адрес склада"
        th= "Дата подачи заявки"
        th=t '.actions', :default => t("helpers.actions")
    tbody
      - @orders.each do |order|
        tr data-order-id=order.id
          td= order.id
          td= order.shop_title
          td= order.status_name
          td= order.store_address
          td=l order.created_at
          td
            = link_to "Перейти", shop_admin_order_path(order), :class => 'btn btn-default btn-xs'
            '
            = link_to "Редактировать", edit_shop_admin_order_path(order), :class => 'btn btn-default btn-xs'
            '
