.container
  .content-block
    - model_class = Order
    div class="page-header"
      h1= "Заказ \##{@order.id}"
    p
      strong= model_class.human_attribute_name(:shop_order_id) + ':'
      br
      = @order.shop_order_id
    p
      strong= model_class.human_attribute_name(:shop_title) + ':'
      br
      = @order.shop_title
    p
      strong= model_class.human_attribute_name(:store_address) + ':'
      br
      = @order.store_address
    p
      strong= model_class.human_attribute_name(:status_id) + ':'
      br
      = @order.status_name
    p
      strong= model_class.human_attribute_name(:customer_name) + ':'
      br
      = @order.customer_name
    p
      strong= model_class.human_attribute_name(:customer_phone) + ':'
      br
      = @order.customer_phone
    p
      strong= model_class.human_attribute_name(:customer_second_phone) + ':'
      br
      = @order.customer_second_phone
    p
      strong= model_class.human_attribute_name(:customer_email) + ':'
      br
      = @order.customer_email
    p
      strong= model_class.human_attribute_name(:delivery_address) + ':'
      br
      = @order.delivery_address
    p
      strong= model_class.human_attribute_name(:floor) + ':'
      br
      = @order.floor
    p
      strong= model_class.human_attribute_name(:intercom_code) + ':'
      br
      = @order.intercom_code
    p
      strong= model_class.human_attribute_name(:goods_estimated_price) + ':'
      br
      = @order.goods_estimated_price
    p
      strong= model_class.human_attribute_name(:goods_price) + ':'
      br
      = @order.goods_price
    p
      strong= model_class.human_attribute_name(:delivery_price) + ':'
      br
      = @order.delivery_price
    p
      strong= model_class.human_attribute_name(:payment_type) + ':'
      br
      = @order.payment_type_name
    p
      strong= model_class.human_attribute_name(:comments) + ':'
      br
      = @order.comments

    - if @order.has_status?(:unpublished) && @order.order_items.count > 0
      = link_to t('order.publish'), publish_shop_admin_order_path(@order), :class => 'btn btn-default'

    - if @order.has_status?(:published)
      = link_to t('order.confirm'), confirm_shop_admin_order_path(@order), :class => 'btn btn-default'

    - if @order.has_status?(:published) ||  @order.has_status?(:confirmed) || @order.has_status?(:assigned) 
      = link_to t('order.cancel'), cancel_shop_admin_order_path(@order), :class => 'btn btn-default'

    - if @order.has_status?(:assigned)
      = link_to t('order.courier'), courier_shop_admin_order_path(@order), :class => 'btn btn-default'

    = link_to 'Назад', shop_admin_orders_path, :class => 'btn btn-default'
    '
    = link_to 'Редактировать', edit_shop_admin_order_path(@order), :class => 'btn btn-default'
    '
    
  .content-block
    = render partial: 'order_items', locals: { order: @order }
