.container
  .content-block
    div class="page-header"
      h1 Забыли пароль?
    = simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
      = f.error_notification
      .form-inputs
        = f.input :email, required: true, autofocus: true
      .form-actions
        = f.button :submit, "Send me reset password instructions"
    = render "shop_admin/shared/links"
