.container
  .content-block
    div class="page-header"
      h1= 'Регистрация'

    = simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
      f.error_notification

      = f.input :email, required: true, autofocus: true
      = f.input :password, required: true
      = f.input :password_confirmation, required: true

      = f.button :submit, "Зарегистрироваться"


    = render "shop_admin/shared/links"
