= simple_form_for [:shop_admin, @shop, @shop_delivery_value], :html => { :class => "form-horizontal" } do |f|
  = f.input :less_than
  = error_span(@shop_delivery_value[:less_than])
  = f.input :greater_than
  = error_span(@shop_delivery_value[:greater_than])
  = f.input :equal_to
  = error_span(@shop_delivery_value[:equal_to])
  = f.input :delivery_value
  = error_span(@shop_delivery_value[:delivery_value])
  = f.button :submit, :class => 'btn btn-primary'
  '
  = link_to t('.cancel', :default => t("helpers.links.cancel")), shop_admin_shop_shop_delivery_values_path(@shop), :class => 'btn btn-default'
