- model_class = ShopDeliveryValue
div class="page-header"
  h1=t '.title', :default => model_class.model_name.human.titleize

p
  strong= model_class.human_attribute_name(:less_than) + ':'
  br
  = @shop_delivery_value.less_than
p
  strong= model_class.human_attribute_name(:greater_than) + ':'
  br
  = @shop_delivery_value.greater_than
p
  strong= model_class.human_attribute_name(:equal_to) + ':'
  br
  = @shop_delivery_value.equal_to
p
  strong= model_class.human_attribute_name(:delivery_value) + ':'
  br
  = @shop_delivery_value.delivery_value

= link_to t('.back', :default => t("helpers.links.back")), shop_admin_shop_shop_delivery_values_path(@shop), :class => 'btn btn-default'
'
= link_to t('.edit', :default => t("helpers.links.edit")), edit_shop_admin_shop_shop_delivery_value_path(@shop, @shop_delivery_value), :class => 'btn btn-default'
'
= link_to t('.destroy', :default => t("helpers.links.destroy")), shop_admin_shop_shop_delivery_value_path(@shop, @shop_delivery_value), :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger'
