.navbar.navbar-inverse.navbar-static-top.nav-shop-admin-main
    .container-fluid
      button.navbar-toggle type="button" data-toggle="collapse" data-target=".navbar-responsive-collapse"
        span.icon-bar
        span.icon-bar
        span.icon-bar
      .navbar-collapse.collapse.navbar-responsive-collapse
        - if user_signed_in?
          ul.nav.navbar-nav.pull-left
            = active_link_to "Профиль", shop_admin_profile_path, wrap_tag: :li

            li class=active_link_to_class(shop_admin_orders_path)
              a href= shop_admin_orders_path
                span= "Заказы"
                '
                span.badge= current_user.orders.count

            = active_link_to "Отчеты", shop_admin_reports_path, wrap_tag: :li
            
            = active_link_to "Настройки", shop_admin_settings_path, wrap_tag: :li

            li class=active_link_to_class(shop_admin_notifications_path)
              a href= shop_admin_notifications_path
                span= "Уведомления"
                '
                span.badge= current_user.notifications.count

        ul.nav.navbar-nav.pull-right
          = active_link_to "Помощь", '#', wrap_tag: :li
          = active_link_to "Поддержка", '#', wrap_tag: :li

          - if user_signed_in?
            = active_link_to "Вы вошли как #{current_user.email}", '#', wrap_tag: :li
            = active_link_to "Выйти", destroy_shop_admin_shop_user_session_path, method: :delete, wrap_tag: :li
          - else
            = active_link_to "Регистрация", new_shop_admin_shop_user_registration_path, wrap_tag: :li
            = active_link_to "Вход", new_shop_admin_shop_user_session_path, wrap_tag: :li

= yield(:navigation)